# for contracts deployments, copy to .env file and replace with your credentials

# polygon private key
POLYGON_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# polygonscan api key
POLYGONSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# amount of ghst token fee for autopet service (could be changed later via setFee() method)
STAKING_FEE=100